a.c0 {color: #247BA0 !important;}
a.c1 {color: #70C1B3 !important;}
a.c2 {color: #B2DBBF !important;}
a.c3 {color: #F3FFBD !important;}
a.c4 {color: #FF1654 !important;}
a.c5 {color: #9C89B8 !important;}
a.c6 {color: #F0A6CA !important;}
a.c7 {color: #EFC3E6 !important;}
a.c8 {color: #F0E6EF !important;}
a.c9 {color: #B8BEDD !important;}
a.c10 {color: #1B998B !important;}
a.c11 {color: #2D3047 !important;}
a.c12 {color: #FFFD82 !important;}
a.c13 {color: #FF9B71 !important;}
a.c14 {color: #E84855 !important;}
a.c15 {color: #D3F8E2 !important;}
a.c16 {color: #E4C1F9 !important;}
a.c17 {color: #F694C1 !important;}
a.c18 {color: #EDE7B1 !important;}
a.c19 {color: #A9DEF9 !important;}
a.c20 {color: #5BC0EB !important;}
a.c21 {color: #FDE74C !important;}
a.c22 {color: #9BC53D !important;}
a.c23 {color: #E55934 !important;}
a.c24 {color: #FA7921 !important;}
a.c25 {color: #E01A4F !important;}
a.c26 {color: #53B3CB !important;}
a.c27 {color: #F9C22E !important;}
a.c28 {color: #FF0066 !important;}
a.c29 {color: #ff0066 !important;}
a.c30 {color: #ff0066 !important;}
a.c31 {color: #ff0066 !important;}
a.c32 {color: #ff0066 !important;}
a.c33 {color: #ff0066 !important;}
a.c34 {color: #ff0066 !important;}
a.c35 {color: #ff0066 !important;}
a.c36 {color: #ff0066 !important;}
a.c37 {color: #ff0066 !important;}
a.c38 {color: #ff0066 !important;}
a.c39 {color: #ff0066 !important;}
a.c40 {color: #ff0066 !important;}
a.c41 {color: #ff0066 !important;}
a.c42 {color: #ff0066 !important;}
a.c43 {color: #ff0066 !important;}
a.c44 {color: #ff0066 !important;}
a.c45 {color: #ff0066 !important;}
a.c46 {color: #ff0066 !important;}
a.c47 {color: #ff0066 !important;}
a.c48 {color: #ff0066 !important;}
a.c49 {color: #ff0066 !important;}
a.c50 {color: #ff0066 !important;}
a.c51 {color: #ff0066 !important;}
a.c52 {color: #ff0066 !important;}
